<body>
<main>
  <h2>Edit a motorcycle</h2>
  <p>Enter the ID of the motorcycle you wish to update:</p>

  <div class="search-form">
    <input type="number" [(ngModel)]="id" placeholder="Motorcycle ID">
    <button (click)="searchMotorcycle()">Search</button>
  </div>
</main>


<div class="input-form" *ngIf="editing && motorcycleForm">
  <h3>Motorcycle Details</h3>

  <form [formGroup]="motorcycleForm">
    <div class="id">
      <label>ID:</label>
      <input type="number" formControlName="id">
    </div>

    <div>
      <label>Year:</label>
      <input type="number" formControlName="year">
    </div>

    <div>
      <label>Brand:</label>
      <input type="text" formControlName="brand">
    </div>

    <div>
      <label>Model:</label>
      <input type="text" formControlName="model">
    </div>

    <div>
      <label>HP:</label>
      <input type="number" formControlName="hp">
    </div>

    <div>
      <label>CCM:</label>
      <input type="number" formControlName="ccm">
    </div>

    <div>
      <label>Kilometers:</label>
      <input type="number" formControlName="kilometers">
    </div>

    <button (click)="saveMotorcycle()">Save</button>
    <button (click)="cancelEditing()">Cancel</button>
  </form>
</div>


<div class="success" *ngIf="successMessage">
  {{ successMessage }}
</div>


<div class="not-found" p *ngIf="noMotorcycleFound">Motorcycle with ID {{id}} not found </div>

</body>
