<div>
  <h2>Create a New Motorcycle</h2>
  <form (ngSubmit)="createMotorcycle()">
    <div>
      <label for="id">ID:</label>
      <input type="number" id="id" name="id" [(ngModel)]="motorcycle.id">
    </div>
    <div>
      <label for="brand">Brand:</label>
      <input type="text" id="brand" name="brand" [(ngModel)]="motorcycle.brand">
    </div>
    <div>
      <label for="model">Model:</label>
      <input type="text" id="model" name="model" [(ngModel)]="motorcycle.model">
    </div>
    <div>
      <label for="year">Year:</label>
      <input type="number" id="year" name="year" [(ngModel)]="motorcycle.year">
    </div>
    <div>
      <label for="hp">HP:</label>
      <input type="number" id="hp" name="hp" [(ngModel)]="motorcycle.hp">
    </div>
    <div>
      <label for="ccm">CCM:</label>
      <input type="number" id="ccm" name="ccm" [(ngModel)]="motorcycle.ccm">
    </div>
    <div>
      <label for="ccm">Kilometers:</label>
      <input type="number" id="kilometers" name="kilometers" [(ngModel)]="motorcycle.kilometers">
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
