<body>
<main>
  <section class="message">
    <h2>Create new motorcycles</h2>
    <p>If you want to add a new motorcycle in the database, you can create it here.</p>
  </section>
</main>


<div class="input-form">
  <h2>New entry</h2>
  <p>Note: If you do not recive a sucsess message, try a diffrent ID!</p>
  <form (ngSubmit)="createMotorcycle()">
    <div>
      <label for="id">ID:</label>
      <input type="number" id="id" name="id" [(ngModel)]="request.id">
    </div>
    <div>
      <label for="brand">Brand:</label>
      <input type="text" id="brand" name="brand" [(ngModel)]="request.brand">
    </div>
    <div>
      <label for="model">Model:</label>
      <input type="text" id="model" name="model" [(ngModel)]="request.model">
    </div>
    <div>
      <label for="year">Year:</label>
      <input type="number" id="year" name="year" [(ngModel)]="request.year">
    </div>
    <div>
      <label for="hp">HP:</label>
      <input type="number" id="hp" name="hp" [(ngModel)]="request.hp">
    </div>
    <div>
      <label for="ccm">CCM:</label>
      <input type="number" id="ccm" name="ccm" [(ngModel)]="request.ccm">
    </div>
    <div>
      <label for="ccm">Kilometers:</label>
      <input type="number" id="kilometers" name="kilometers" [(ngModel)]="request.kilometers">
    </div>
    <button type="submit">Submit</button>

    <div *ngIf="showSuccessMessage" class="success-message">
      New motorcycle entry submitted successfully!
    </div>

    <div *ngIf="success">
      <button class="btn btn-success" (click)="newRequest()">Create another entry</button>
    </div>
  </form>

</div>
</body>
