<div class="wrapper">
<body>
  <header>
		<h1>Motorcycle Rental</h1>
		<nav>
			<ul>
				<li routerLinkActive="active"><a routerLink="home"><p>Home</p></a></li>
        <li routerLinkActive="active"><a routerLink="rent"><p>Rental motorcycles</p></a></li>
        <li routerLinkActive="active"><a routerLink="request"><p>Create a new motorcycle</p></a></li>
        <li routerLinkActive="active"><a routerLink="edit"><p>Edit a motorcycle</p></a></li>
			</ul>
		</nav>
	</header>
</body>

  <div class="main">
    <div class="content">
        <router-outlet></router-outlet>
    </div>
  </div>

</div>
