
<body>

	<header>
		<h1>Motorcycle Rental</h1>
		<nav>
			<ul>
				<li routerLinkActive="active"><a routerLink="home"><p>Home</p></a></li>
        <li routerLinkActive="active"><a routerLink="rent"><p>Rental Motorcycles</p></a></li>
				<li><a href="#">Make a special Request</a></li>
			</ul>
		</nav>
	</header>


	<main>
		<section class="inventory">
			<h2>Welcome to our Motorcycle Rental Shop</h2>
			<p>We offer a wide selection of motorcycles. Browse our inventory and find the perfect bike for you.</p>
			<a href="#" class="btn">Browse Motorcycles</a>
		</section>
  </main>

</body>
